/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: white;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

/* Hero Section */
.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Hero Box */
.hero-content {
    text-align: center;
    background: rgba(255, 255, 255, 0.05);
    padding: 40px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
}

/* Profile Image */
.profile-pic {
    width: 160px;
    border-radius: 50%;
    border: 4px solid #38bdf8;
    box-shadow: 0 0 25px #38bdf8;
    margin-bottom: 20px;
    transition: 0.3s;
}

.profile-pic:hover {
    transform: scale(1.1);
}

/* Highlight Name */
.hero span {
    color: #38bdf8;
}

/* Tagline */
.tagline {
    margin-top: 10px;
    color: #cbd5f5;
}

/* Button */
button {
    margin-top: 20px;
    padding: 10px 25px;
    border: none;
    background: #38bdf8;
    color: black;
    border-radius: 25px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
}

/* Sections */
section {
    padding: 60px 40px;
}

/* Project Cards */
.project-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.project-card {
    flex: 1 1 300px;
    padding: 25px;
    border-radius: 15px;
    background: rgba(255,255,255,0.05);
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-10px) scale(1.02);
}

.buttons {
    margin-top: 15px;
}

.buttons a {
    text-decoration: none;
    background: #38bdf8;
    color: black;
    padding: 8px 15px;
    border-radius: 20px;
    margin-right: 10px;
}

/* Certificates */
#certificates ul {
    margin-top: 20px;
    line-height: 1.8;
}


.light-mode {
    background: #ffffff;
    color: black;
}

.light-mode nav {
    background: #ddd;
}

.light-mode .hero-content,
.light-mode .project-card {
    background: #f4f4f4;
}

#contact a {
    color: #38bdf8;
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}